{include file="index/layout/header" /}
		
		<div class="bannerBox bannerAbout"><div class="bg"></div></div>
		<div class="wrap clearfloat">
			<div class="aboutL">
				<!--<span class="BtnL"></span>-->
				<div class="aboutH">
					<h3>ABOUT US</h3>
					<h2>关于我们</h2>
				</div>
				<ul class="aboutNav">
					<li class="on"><a href="javascript:">
						公司简介<span class="jtAbout"></span>
					</a></li>
					<li><a href="javascript:">
						企业文化<span class="jtAbout"></span>
					</a></li>
					<li><a href="javascript:">
						公司荣誉<span class="jtAbout"></span>
					</a></li>
				</ul>
				<div class="aboutLAd">
					<a href=""><div class="pic"><img src="/static/frontend/temp/about_l_img.jpg"/></div></a>
				</div>
				<div class="aboutContact">
					<div class="aboutContactH">
						<h2>联系我们</h2>
					</div>
					<ul>
						<li>
							<span><img src="/static/frontend/images/about_phone.png"/></span>
							<em>电话：</em>
							<p>{$setting->contact->company_phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_tel.png"/></span>
							<em>手机：</em>
							<p>{$setting->contact->phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_mail.png"/></span>
							<em>邮箱：</em>
							<p>{$setting->contact->email}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_position.png"/></span>
							<em>地址：</em>
							<p>{$setting.location}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_weixin.png"/></span>
							<em>关注：</em>
							<p>
								关注微信最新动态
							</p>
						</li>
					</ul>
					<div class="aboutEwm">
						<img src="{$setting.qrcode_url}"/>
					</div>
				</div>
				
			</div>
			<div class="aboutR">
				<div class="aboutRTop">
					<p>您现在的位置：<a href="{:url('index/index')}">首页</a> &gt; 关于我们</p>
				</div>
				<div class="aboutRH">
					<h2>专注一次性环保可降解品牌餐盒生产和销售</h2>
					<p>Focus on the production and sales of disposable environmental friendly and degradable brand lunch boxes</p>
				</div>
				<div class="aboutRW clearfloat">
					<div class="pic aboutPic"><img src="/static/frontend/temp/about_r_img.jpg"/></div>
					<h3>{$setting->company_name}</h3>
					<p>
						深圳华利达包装展示有限公司是一家专业环保包装展示制品工贸企业;自2010年成立以来，业
						务领域快速发展并跨越北美、拉美、南美、大洋洲、欧洲、亚洲等区域；<br>
						直接或间接参与并完成过多家世界500强品牌的环保包装方案与实施；<br>
						并且与多家国内外知名学府产研合作包括福建师范大学、湖南科技大学、美国杜兰大学等等；<br>
						公司组织架构完整：包括主要9大部门（采购、运营、销售、客服、研发、工程、财务、行政、
						战略规划等）；<br>
						大学及以上学历人员占比90%，多名10年以上销售顾问、品管、研发工程等
						服务:以国际标准服务客户，最好的服务给最可爱的客户。<br>
						<strong>“大卖盒”</strong>采用多种包装陈列运输方式，以我们的用心给购买的客户带来愉悦乐趣享受。<br>
						主要有
						五大类40余个品种纸浆模塑环保餐具，盘类*11，碗类*9，杯类*7，托盘*4，盒类*9。<br>
						主要具有时尚精致、紫外杀菌、0添加无毒、防油防烫手、可微波和冷藏、结实抗压等特点；<br>
						以成为优秀环境友好食物包装引领者为目标，以使外卖食品健康环保为使命不断创新；<br>
						以  <strong>“大卖盒”</strong>进入全民就餐娱乐首先为愿景，不断加强与合作伙伴协作；<br>
						本产品可用在聚会、野餐、烧烤、会议、宴会、餐厅、外卖打包、分餐、糕点房等场所。<br>
					</p>
					<p>
						工艺概况特征：<br>
						纸浆模塑环保餐具以天然麦草/甘蔗浆为原料，经科学技术处理，使之具备以下特征：<br>
						1、紫外杀菌，安全卫生、<br>
						2、100%原生浆餐具，0添加无毒无害；<br>
						3、可抗120℃热油、抗100℃热水，不变形不渗漏、<br>
						4、适合微波炉烘烤、冰箱冷冻、<br>
						5、有回收价值，再生造纸，循环利用，保护资源、<br>
						6、变异后自然降解泥化为有机肥料，还原为二氧化碳与水，回归大自然、<br>
						7、产品经喷涂、覆膜后可提高其阻隔透气性、<br>
						8、加厚材料，冷藏微波时稳定不易变形。<br>
					</p>
					<p>
						产品概况<br>
						目前我公司现有纸浆模塑环保餐具五大类34个品种：<br>
						1、盘类（主要用于盛放炒菜等）：6寸盘，7寸盘，8寸盘，10寸圆盘，10寸3格圆盘，小椭圆盘，<br>
						7寸澳洲圆盘，9寸三格圆盘，9寸圆盘，中椭圆盘，大椭圆盘；<br>
						2、碗类（主要用于盛放汤、面条、咖啡等）：500ML碗，340ML碗，7寸碗，6寸碗，350ML碗，<br>
						400ML碗，350ML卷边碗；<br>
						3、杯类（主要用于盛放咖啡，汤，冰淇淋等）：500ML杯，500ML杯盖，425ML杯，425ML杯盖，<br>
						140ML杯，260ML杯，370ML杯；<br>
						4、托盘类（主要用于盛放蔬菜水果，肉类等）：美国托盘，350ml托盘；<br>
						5、盒类（主要用于快餐店打包）：600ML餐盒，1000ML双格餐盒，450ML汉堡盒，450ML餐盒，<br>
						9寸大盒，8寸大盒，10寸大盒。<br>
						纸浆模塑产品可根据客户需求进行开发新的模具，生产新的品种。我公司拥有强大的模具开发能力，<br>
						所能开发的产品以餐饮用具为主，完全可以按照不同客户<br>
						需求生产不同克重，规格，样式的产品。<br>
					</p>
					<p>
						售卖方式<br>
						注意盖子和盒底是分开包装、选购的<br>
						1、50pcs/袋，300-500pcs/箱<br>
						2、包装盒装48pcs/60pcs/100/盒<br>
						3、展示盒多种产品混装（适用线下、线上销售）<br>
						4、展示架多种产品混装（适用商超、便利店、商业场所）<br>
					</p>
					<p>
						客户对象<br>
						1、餐饮连锁<br>
						2、酒店航空<br>
						3、国内贸易商<br>
						4、国内出口商<br>
						5、国外进口商<br>
						6、国外商家<br>
						7、国内外供应链<br>
					</p>
				</div>
				<div class="aboutRInner clearfloat">
					<div class="aboutRInnerWrit">
						<h2>售卖方式</h2>
						<h3>注意盖子和盒底是分开包装、选购的</h3>
						<p>
							1、50pcs/袋，300-500pcs/箱 <br>
							2、包装盒装48pcs/60pcs/100/盒<br>
							3、展示盒多种产品混装（适用线下、线上销售）<br>
							4、展示架多种产品混装（适用商超、便利店、商业场所）<br>
						</p>
					</div>
					<div class="aboutRInnerPic">
						<img src="/static/frontend/temp/about_r_img1.jpg"/>
					</div>
				</div>
			</div>
			
		</div>
		
{include file="index/layout/footer" /}
</html>
