{include file="index/layout/header" /}
<link rel="stylesheet" href="/static/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="/static/frontend/css/index.css"/>
		<!--main-->
		<div class="main">

			<div class="banner">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        {volist name="banner_list" id="vol"}
						<div class="swiper-slide">
							<a href="{$vol.link_url}">
								<img class="img1"  src="{$vol.url}" alt="{$vol.alt}" title="{$vol.alt}" />
								<img class="img2"   src="{$vol.url}" alt="{$vol.alt}" title="{$vol.alt}"/>
							</a>
						</div>
						{/volist}
				    </div>
				    <!-- 如果需要分页器 -->
				    <div class="swiper-pagination"></div>
				    
				    <!-- 如果需要导航按钮 -->
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				    
				</div>
			</div>

			<form action="{:url('show')}" method="post">

				<div class="search">
					<span class="search_keyword">
						搜索关键词:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{volist name="keyword_list" id="vol"}
						<a href="{:url('show',['keyword'=>$vol['name']])}">{$vol['name']}&nbsp;&nbsp;&nbsp;</a>
						{/volist}
					</span>
					<span class="bt" style="float: right;">
						<input type="text" placeholder="请输入..." name="keyword" value="" />
						<button class=""><i>搜索</i></button>
					</span>
				</div>
				
			<div class="clearfloat"></div>
			</form>
			<div class="productCx" style="padding: 0 5% 0 5%">
				<div class="homeDzzx">
					<div class="wrap" style="padding: 0 5% 0 5%">
						<div class="homeDzzxB" style="margin:0">
							<div class="homeDzzxBH clearfloat">
								<div class="line"></div>
								<div class="homeDzzxBHCont">
									<h3>他们都信任{$setting.company_name}</h3>
									<p>感谢以下伙伴长期以来对{$setting.company_name}的支持与信任</p>
								</div>
								<div class="block"></div>
							</div>
							<ul class="productCxList clearfloat">
								{volist name="success_case_list" id="vol"}
								<li>
									<a href="">
										<div class="pic">
											<img  src="" data-echo = "{$vol.image_url}" />
										</div>
										<strong>
											{$vol.name}
										</strong>
									</a>
								</li>
								{/volist}
							</ul>
						</div>
					</div>
				</div>

				<div class="wrap productSp" style="padding: 0 5% 0 5%">
					<div class="homeAdvanceTit">
						<h2>{$setting.company_name}的<span>销量促进方案</span></h2>
						<p>“大包装, 交期快, 发货灵活, vip专属客服6对1, 全程保密”</p>
					</div>

					<div class="productCxH">
						<p>用{$setting->company_name},销量猛增100%</p>
					</div>
					<ul class="productGyList productJgList clearfloat">
						<li>
							<a href="">
								<div class="pic"><img src="/storage/images/index/prove1.png"/></div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="pic"><img src="/storage/images/index/prove2.png"/></div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="pic"><img src="/storage/images/index/prove3.png"/></div>
							</a>
						</li>
					</ul>
				</div>



				<div class="productGy productTab">
					<div class="wrap" style="padding: 0 5% 0 5%">
						
						<div class="homeAdvanceTit">
							<h2>{$setting.company_name}的<span>六大产品</span></h2>
							<p>“买一箱得150个,买150个不如买一箱,量大从优,100%原生浆,外卖打包爆单神器,高档精致,0废0污染,结实手感好,15天可降解”</p>
						</div>

						<div class="productCxH">
							<p>
								餐盒竞争力供应商,销量提升方案供应商,省时省工节省成本,数十款现货充足,来图来样定制,分批定点发货!
							</p>
						</div>
						<ul class="productGyList productJgList clearfloat">
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/plate.jpg"/></div>
								<p>盘子</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/box.jpg"/></div>
								<p>餐盒</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/craft box.jpg"/></div>
								<p>西餐盒</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/cup.jpg"/></div>
								<p>杯子杯座</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/dish.jpg"/></div>
								<p>多格餐盘</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/bowl.jpg"/></div>
								<p>碗</p>
							</a></li>
						</ul>
					</div>
				</div>
				
				<div class="productWhy productTab">
					<div class="wrap" style="padding:  0 5% 0 5%">
						<div class="productWhyH">
							<h2>为什么选择<span>{$setting.company_name}</span>？</h2>
							<p><span></span> did you choose ALL-IN-TRAY?</p>
							<p> 好品质源于高标准</p>
						</div>
						<ul class="productYfList clearfloat">
							<li><a href="javascript:;">
								<span class="icon1"><em></em></span>
								<p>设计生产1条龙</p>
							</a></li>
							<li><a href="javascript:;">
								<span class="icon2"><em></em></span>
								<p>全植物原浆工艺</p>
							</a></li>
							<li><a href="javascript:;">
								<span class="icon3"><em></em></span>
								<p>全流程无外包</p>
							</a></li>
							<li><a href="javascript:;">
								<span class="icon4"><em></em></span>
								<p>提供销量提升方案</p>
							</a></li>
							<li><a href="javascript:;">
								<span class="icon5"><em></em></span>
								<p>全保密快交期</p>
							</a></li>
							<li><a href="javascript:;">
								<span class="icon6"><em></em></span>
								<p>大家都选大卖盒</p>
							</a></li>
						</ul>
					</div>
					</div>
				</div>



				<div class="productJg productTab">
					<div class="productNext productNext5">
						<span></span>
					</div>
					<div class="wrap" style="padding:  0 5% 0 5%">
						<div class="productCxH">
							<h2>生产实力</h2>
							<p>为了制造出顶尖的产品，满足广大用户需求，{$setting->company_name}以欧洲标准构建了专业的产品生产线。</p>
						</div>
						<ul class="productGyList productJgList clearfloat">
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/plup.jpg"/></div>
								<p>优质植物原浆</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/processing.jpg"/></div>
								<p>原料加工</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/static/frontend/temp/product_img3.jpg"/></div>
								<p>产品量产</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/package.jpg"/></div>
								<p>产品打包</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/storage.jpg"/></div>
								<p>产品存放</p>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/static/frontend/temp/product_img6.jpg"/></div>
								<p>各类质量安全检测</p>
							</a></li>
						</ul>
					</div>
				</div>


				<div class="productAl productTab">
					<div class="productNext productNext2">
						<span></span>
					</div>
					<div class="wrap" style="padding:  0 5% 0 5%">
						<div class="productCxH">
							<h2>资质证书</h2>
							<p>我们的产品得到各种认证</p>
						</div>
						<ul class="productAlList clearfloat">
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/QS.png"/></div>
								<h3>QS认证</h3>
								<div class="bg">
									<div class="writ">
										<p>中国质量认证。</p>
									</div>
								</div>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/FDA.png"/></div>
								<h3>FDA认证</h3>
								<div class="bg">
									<div class="writ">
										<p>美国食品安全认证。</p>
									</div>
								</div>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/SGS.png"/></div>
								<h3>SGS认证</h3>
								<div class="bg">
									<div class="writ">
										<p>SGS是 Societe Generale de Surveillance S.A. 的简称，译为“通用公证行”。</p>
									</div>
								</div>
							</a></li>
							<li><a href="">
								<div class="pic"><img src="/storage/images/index/OK COMPOST.png"/></div>
								<h3>OC认证</h3>
								<div class="bg">
									<div class="writ">
										<p>OK COMPOST 产品可降解认证。</p>
									</div>
								</div>
							</a></li>
						</ul>
					</div>
				</div>

				<div class="homeNews productCh">
					<div class="wrap" style="padding:  0 5% 0 5%">
						<div class="homeNewsH clearfloat">
							<div class="line"></div>
							<div class="left">
								<h3><em>NEWS</em> <span>新闻资讯</span></h3>
							</div>
							<div class="right homeNewsTab">
								<a class="on" href="javascript:">新闻中心</a>
								<a href="javascript:">餐饮知识</a>
								<a href="issue.html">常见问题</a>
							</div>
						</div>
						<div class="homeNewsW">
							<div class="homeNewsInner clearfloat">
								<ul class="left">
									{volist name = "news_list" id = "vol" length = "3" offset = "0"}
									<li class="clearfloat">
										<div class="homeNewsNum">
											<img src="" data-echo="{$vol.cover_url}">
										</div>
										<div class="homeNewsCont">
											<div class="homeNewsContH">
												<h3 class="single-line"><a href="{:url('index/news_detail',['id' => $vol['id']])}">{$vol.title}</a></h3>
												<p>{:date('Y-m-d',strtotime($vol.updated_at))}</p>
												<a class="homeNewsMore" href="">MORE +</a>
											</div>
											<div class="homeNewsTxt">
												<p class="multi-line">
													{$vol.sub_title}
												</p>
											</div>
										</div>
									</li>
									{/volist}
								</ul>
								<ul class="right">

									{volist name = "news_list" id = "vol" length = "3" offset = "3"}
									<li class="clearfloat">
										<div class="homeNewsNum">
											<img src="" data-echo="{$vol.cover_url}">
										</div>
										<div class="homeNewsCont">
											<div class="homeNewsContH">
												<h3 class="single-line"><a href="{:url('index/news_detail',['id' => $vol['id']])}">{$vol.title}</a></h3>
												<p>{:date('Y-m',strtotime($vol.updated_at))}</p>
												<a class="homeNewsMore" href="">MORE +</a>
											</div>
											<div class="homeNewsTxt">
												<p class="multi-line">
													{$vol.sub_title}
												</p>
											</div>
										</div>
									</li>
									{/volist}
								</ul>
							</div>

						</div>

					</div>
				</div>

				<div class="homeZpc">
					<div class="wrap clearfloat" style="padding:  0 5% 0 5%">
						<div class="left">
							<div class="pic"><img src="/static/frontend/temp/zpc_img1jpg.jpg"/></div>
							<div class="picBg"></div>
						</div>
						<div class="right">
							<h2>{$setting.company_name}</h2>
							<div class="line"></div>
							<div class="homeZpcCont">
								<p>
									深圳华利达包装展示有限公司是一家专业环保包装展示制品工贸企业;自2010年成立以来，业
									务领域快速发展并跨越北美、拉美、南美、大洋洲、欧洲、亚洲等区域；
									直接或间接参与并完成过多家世界500强品牌的环保包装方案与实施；与多家国内外知名学府
									产研合作包括福建师范大学、湖南科技大学、美国杜兰大学等等；
									公司组织架构完整：包括主要9大部门（采购、运营、销售、客服、研发、工程、财务、行政、
									战略规划等）；大学及以上学历人员占比90%，多名10年以上销售顾问、品管、研发工程等
									服务:以国际标准服务客户，最好的服务给最可爱的客户。
									“大卖盒”采用多种包装陈列运输方式，以我们的用心给购买的客户带来愉悦乐趣享受。主要有
									五大类40余个品种纸浆模塑环保餐具，盘类*11，碗类*9，杯类*7，托盘*4，盒类*9。
									主要具有时尚精致、紫外杀菌、0添加无毒、防油防烫手、可微波和冷藏、结实抗压等特点；
									以成为优秀环境友好食物包装引领者为目标，以使外卖食品健康环保为使命不断创新；以“大
									卖盒”进入全民就餐娱乐首先为愿景，不断加强与合作伙伴协作；
									本产品可用在聚会、野餐、烧烤、会议、宴会、餐厅、外卖打包、分餐、糕点房等场所。
								</p>
							</div>
							<ul class="homeZpcList clearfloat">
								<li><a href="{:url('show')}">
									<p>全部产品</p>
									<span>+</span>
								</a></li>
								<li><a href="{:url('about')}">
									<p>企业文化</p>
									<span>+</span>
								</a></li>
								<li><a href="{:url('product')}">
									<p>生成工艺</p>
									<span>+</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<!--/main-->

			<!--footer-->
			<!--<div class="footerWap">-->
			<div id="bottom">
				<div class="wrap">
					<em>友情链接：</em>
					{volist name = "friend_links" id="vol"}
					<a href="{$vol.link_url}" target="_blank">{$vol.name}</a> |
					{/volist}
				</div>
			</div>
{include file="index/layout/footer" /}
<script src="/static/swiper/swiper-bundle.min.js"></script>

<script>        
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal', // 垂直切换选项
    loop: true, // 循环模式选项
    speed:1000,
    autoplay:{
	    delay: 2000,
	    stopOnLastSlide: false,
	    disableOnInteraction: true,
    },
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    
  })        
</script>
</html>
