{include file="index/layout/header" /}
<link rel="stylesheet" type="text/css" href="/static/frontend/css/jquery.bxslider.css"/>
		<div class="bannerBox bannerShow"><div class="bg"></div></div>
		
		<div class="wrap clearfloat">
			<div class="aboutL">
				<!--<span class="BtnL"></span>-->
				<div class="aboutH">
					<h3>PRODUCT SHOW</h3>
					<h2>全部产品</h2>
				</div>
				<ul class="aboutNav">
					{volist name="c_list" id="vol"}
					<li class="on">
						<a href="{:url('show',['c' => $vol['id']])}">
							{$vol.name} <span class="jtAbout"></span>
						</a>
					</li>
					{/volist}
				</ul>
				<div class="aboutLAd">
					<a href="{:url('show')}"><div class="pic"><img src="/static/frontend/temp/about_l_img.jpg"/></div></a>
				</div>
				<div class="aboutContact">
					<div class="aboutContactH">
						<h2>联系我们</h2>
					</div>
					<ul>
						<li>
							<span><img src="/static/frontend/images/about_phone.png"/></span>
							<em>电话：</em>
							<p>{$setting->contact->company_phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_tel.png"/></span>
							<em>手机：</em>
							<p>{$setting->contact->phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_mail.png"/></span>
							<em>邮箱：</em>
							<p>{$setting->contact->email}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_position.png"/></span>
							<em>地址：</em>
							<p>{$setting.location}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_weixin.png"/></span>
							<em>关注：</em>
							<p>
								关注微信最新动态
							</p>
						</li>
					</ul>
					<div class="aboutEwm">
						<img src="{$setting.qrcode_url}"/>
					</div>
				</div>
				
			</div>
			
			<div class="aboutR">
				<div class="aboutRTop">
					<p>您现在的位置：<a href="{:url('index/index')}">首页</a> &gt; <a href="{:url('show')}">全部产品</a> &gt; {$info -> category_name}</p>
				</div>
				<div class="showDetailW">
					<div class="showDetailMain clearfloat">
						
						<div class="showWap">
							<img class="bg" src="{$info->images_url[0]}"/>
							<div class="showPic">
								<ul class="showSlider">
									<li class="showImg1">
										<img src="{$info->images_url[0]}"/>
									</li>
									<li class="showImg2">
										  <img src="{$info->images_url[1]}"/>
									</li>
								</ul>
							</div>
						</div>
						<div class="showDetailMainCont">
							<h2>{$info.name}</h2>

							<p>
								限时: <span class="layui-badge">{$info->attr['promotion_sentence']}</span>
							</p>
							<p>
								促销: <span class="layui-badge layui-bg-green">{$info->attr['marketing_sentence']}</span>
							</p>
							<p>
								赠品: <span class="layui-badge layui-bg-orange">{$info->attr['gift_sentence']}</span>
							</p>
							<p>
								分类: <span class="layui-badge layui-bg-cyan">{$info->category_name}</span>
							</p>
							<div class="showDetailMainB clearfloat">
								<a class="showDetailLqyp" target="_blank" href="https://holidaypop.en.alibaba.com/?spm=a2700.wholesale.cordpanyb.2.2fc26410erPj6l"><span></span>阿里巴巴</a>
								<a class="showDetailZxzx" onclick="msg_tel()" href="tel:{$setting->contact->phone}"><span></span>电话联系</a>
								<a class="showDetailZxgm" onclick="msg_app()" href="javascript:;"><span></span>小程序购买</a>
							</div>
						</div>
					</div>
					
					<div class="showDetailInner">
						<h2><span>商品详情</span></h2>
						<div class="showDetailInnerW">
							{$info->attr['content']|raw}
						</div>
					</div>
					
					
					
				</div>
				
				
			</div>
			
			
			
		</div>
{include file="index/layout/footer" /}
<script type="text/javascript" src="/static/frontend/js/jquery.bxslider.min.js?v={:time()}"></script>
	<script type="text/javascript" src="/static/frontend/js/jquery.zoom.js"></script>
	<script type="text/javascript">
		$('.showImg1').zoom({"url": '{$info->images_url[0]}'});
		$('.showImg2').zoom({"url": '{$info->images_url[1]}'});
		
	</script>
	
	<script type="text/javascript">
		$('.showSlider').bxSlider({
			'auto':false,
			'controls':false,
			'touchEnabled':true,
			'pager':true,
			'speed':1000,
			'pause':2000,
			
		})
		
	</script>

	<script>
		var msg_app = function(){
			layer.msg('<img src="/static/images/rqcode_weixinxiaochengxu.jpg">', {
				time: 20000, //20s后自动关闭
				btn: ['扫一扫直接小程序下单'],
				btnAlign: 'c',
				offset: '100px'
			});
		}
		var msg_tel = function(){
			layer.msg('<img src="/static/images/rqcode_weixingongzhonghao.jpg">', {
				time: 20000, //20s后自动关闭
				btn: ["联系电话:{$setting->contact->phone}"],
				btnAlign: 'c',
				offset: '100px'
			});
		}
	</script>
</html>
