{include file="index/layout/header" /}
		
		<div class="bannerBox bannerShow"><div class="bg"></div></div>
		
		<div class="wrap clearfloat">
			<div class="aboutL">
				<!--<span class="BtnL"></span>-->
				<div class="aboutH">
					<h3>PRODUCT SHOW</h3>
					<h2>全部产品</h2>
				</div>
				<ul class="aboutNav">
					<li class="on">
						<a href="{:url('index/show')}">
							全部产品 <span class="jtAbout"></span>
						</a>
					</li>
					{volist name = "c_list" id = "vol"}
					<li>
						<a href="{:url('index/show',['c' => $vol.id])}">
							{$vol.name} <span class="jtAbout"></span>
						</a>
					</li>
					{/volist}
				</ul>
				<div class="aboutLAd">
					<a href=""><div class="pic"><img src="/static/frontend/temp/about_l_img.jpg"/></div></a>
				</div>
				<div class="aboutContact">
					<div class="aboutContactH">
						<h2>联系我们</h2>
					</div>
					<ul>
						<li>
							<span><img src="/static/frontend/images/about_phone.png"/></span>
							<em>电话：</em>
							<p>{$setting->contact->company_phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_tel.png"/></span>
							<em>手机：</em>
							<p>{$setting->contact->phone}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_mail.png"/></span>
							<em>邮箱：</em>
							<p>{$setting->contact->email}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_position.png"/></span>
							<em>地址：</em>
							<p>{$setting.location}</p>
						</li>
						<li>
							<span><img src="/static/frontend/images/about_weixin.png"/></span>
							<em>扫码 -></em>
							<p>
								直接下单
							</p>
						</li>
					</ul>
					<div class="aboutEwm">
						<img src="/static/images/rqcode_weixinxiaochengxu.jpg"/>
					</div>
				</div>
				
			</div>
			
			<div class="aboutR">
				<div class="aboutRTop">
					<p>您现在的位置：<a href="{:url('index/index')}">首页</a> &gt; <a href="{:url('index/show')}">产品列表</a></p>
				</div>
				<div class="showW">
					<ul class="showList clearfloat">
						{volist name="p_list" id = "v"}
						<li><a href="{:url('index/show_detail',['id' => $v.id])}">
							<div class="pic"><img src="{$v.image_url}" /></div>
							<p class="single-line">{$v.name}</p>
						</a></li>
						{/volist}
					</ul>
					{$page|raw}
<!--					<div class="page">-->
<!--						<em>首页</em>-->
<!--						<i>上一页</i>-->
<!--						<a class="active" href="javascript:">1</a>-->
<!--						<a href="javascript:">2</a>-->
<!--						<i>下一页</i>-->
<!--						<em>尾页</em>-->
<!--					</div>-->
				</div>
				
			</div>
			
		</div>
		
{include file="index/layout/footer" /}
</html>

<!--模板文件,算了,安全起见,不用了-->
<!--<script type="text/javascript" src="/static/frontend/template.js/v1/template.js"></script>-->
<script>
	$(function(){

	})
</script>