{include file="admin/layout/header" /}

  <div class="layui-body">
    <div class="layui-container">
      <fieldset class="layui-elem-field layui-field-title">
        <legend>产品详情\编辑</legend>
      </fieldset>
      <blockquote class="layui-elem-quote layui-text">
        产品最好和网页title\网页描述有相关性,都带联系电话最好
      </blockquote>
      <form class="layui-form layui-form-pane1" action="" lay-filter="first" method="post">
          <div class="layui-form-item">
              <label class="layui-form-label">产品名</label>
              <div class="layui-input-block">
                  <input type="text" name="name" value="" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                  <span class="layui-badge layui-bg-green">网站标题,这是SEO的重点。系统会将此标题补到网页标题上</span>
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">营销语</label>
              <div class="layui-input-block">
                  <input type="text" name="marketing_sentence" value="7天发货高效便携外卖销量提升56%" lay-verify="required|len56" lay-reqText="关键词不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                  <span class="layui-badge layui-bg-green">网站关键词,这是SEO的重点。营销语\促销语\赠品加起来不大于78个字</span>
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">促销语(特价\时效\节日)</label>
              <div class="layui-input-block">
                  <input type="text" name="promotion_sentence" value="" lay-verify="required|len56" lay-reqText="关键词不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                  <span class="layui-badge layui-bg-green">网站关键词,这是SEO的重点。营销语\促销语\赠品加起来不大于78个字</span>
              </div>
          </div>


          <div class="layui-form-item">
              <label class="layui-form-label">赠品语</label>
              <div class="layui-input-block">
                  <input type="text" name="gift_sentence" value="买十箱送1个展示架" lay-verify="required|len56" lay-reqText="关键词不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                  <span class="layui-badge layui-bg-green">网站关键词,这是SEO的重点。营销语\促销语\赠品加起来不大于78个字</span>
              </div>
          </div>


          <div class="layui-form-item">
              <div class="layui-inline">
                  <label class="layui-form-label">选择产品分类</label>
                  <div class="layui-input-inline">
                      <select name="category_id">
                          <option value="">请选择分类</option>
                          {volist  name="product_category" id="vol"}
                          <optgroup label="{$vol.name}">
                              {volist  name="vol.child" id="v"}
                              <option value="{$v.id}">{$v.name}</option>
                              {/volist}
                          </optgroup>
                          {/volist}
                      </select>
                  </div>
              </div>

          <div class="layui-form-item">
              <label class="layui-form-label">封面图片</label>
              <input type="hidden" value="" name="image_obj[]" id="image_obj_1">
              <div class="layui-input-block">
                  <div class="layui-upload">
                      <button type="button" class="layui-btn" id="image_1">上传图片</button>&nbsp;&nbsp;&nbsp;<span class="layui-badge">像素150*150以内(正方形)</span>
                      <div class="layui-upload-list">
                          <img class="layui-upload-img" src="/static/images/kongbai.png" style="width: 210px; height: 150px;" id="img_1">
                          <p id="logoText_1"></p>
                      </div>
                  </div>
              </div>
          </div>


          <div class="layui-form-item">
              <label class="layui-form-label">副图片</label>
              <input type="hidden" value="" name="image_obj[]" id="image_obj_2">
              <div class="layui-input-block">
                  <div class="layui-upload">
                      <button type="button" class="layui-btn" id="image_2">上传图片</button>&nbsp;&nbsp;&nbsp;<span class="layui-badge">像素150*150以内(正方形)</span>
                      <div class="layui-upload-list">
                          <img class="layui-upload-img" src="/static/images/kongbai.png" style="width: 210px; height: 150px;" id="img_2">
                          <p id="logoText_2"></p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="layui-form-item">

              <input type="hidden" value="" name="content" id="content">
              <span class="layui-badge layui-bg-red">文章内容不可使用`这个符号, 键盘1左边那个,否则会导致系统报错</span>
              <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
          </div>



            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
              </div>
            </div>
    </form>
    </div>
    <br><br><br>

  </div>


    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function(action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return '/upload/ueditor_img';
            } else if (action == 'uploadvideo') {
                return '/upload/ueditor_img';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }
        ue.ready(function () {

            ue.on("uploadSuccess", function (name,file, ret) {
                console.log("uploadSuccessWjb",name, file, ret);
            });
        });
    </script>

    <script>

      layui.use(['form',  'upload'], function(){
        var form = layui.form
                ,$ = layui.jquery
                ,layer = layui.layer
                ,upload = layui.upload
        ;

          //主图图片
          var upload_logo1 = upload.render({
              elem: '#image_1'
              , url: "{:url('/upload/img')}" //改成您自己的上传接口
              , data:{c:'product',dir:'temp'}
              , size: 5000 //限制文件大小，单位 KB,1M
              , before: function (obj) {
                  //预读本地文件示例，不支持ie8
                  obj.preview(function (index, file, result) {
                      $('#img_1').attr('src', result); //图片链接（base64）
                  });
              }
              , done: function (res) {
                  //如果上传失败
                  if (res.code > 0) {
                      return layer.msg('上传失败');
                  }
                  //上传成功
                  layer.msg(res.msg);
                    $('#image_obj_1').val(res.name);
                    $('#logo_img_1').attr('src',res.path);
              }
              , error: function () {
                  //演示失败状态，并实现重传
                  var demoText = $('#logoText_1');
                  demoText.html('<span style="color: #22ff85;">上传失败</span> <a class="layui-btn layui-btn-xs logo-reload">重试</a>');
                  demoText.find('.logo-reload').on('click', function () {
                      upload_logo.upload();
                  });
              }
          });

          //副图图片
          var upload_logo2 = upload.render({
              elem: '#image_2'
              , url: "{:url('/upload/img')}" //改成您自己的上传接口
              , data:{c:'product',dir:'temp'}
              , size: 5000 //限制文件大小，单位 KB,1M
              , before: function (obj) {
                  //预读本地文件示例，不支持ie8
                  obj.preview(function (index, file, result) {
                      $('#img_2').attr('src', result); //图片链接（base64）
                  });
              }
              , done: function (res) {
                  //如果上传失败
                  if (res.code > 0) {
                      return layer.msg('上传失败');
                  }
                  //上传成功
                  layer.msg(res.msg);
                  $('#image_obj_2').val(res.name);
                  $('#logo_img_2').attr('src',res.path);
              }
              , error: function () {
                  //演示失败状态，并实现重传
                  var demoText = $('#logoText_1');
                  demoText.html('<span style="color: #22ff85;">上传失败</span> <a class="layui-btn layui-btn-xs logo-reload">重试</a>');
                  demoText.find('.logo-reload').on('click', function () {
                      upload_logo.upload();
                  });
              }
          });

        //监听提交
        form.on('submit(*)', function(data){
            var html = ue.getContent();
            $('#content').val(html);
           alert(JSON.stringify(data.field));

        });

      });

    </script>

{include file="admin/layout/footer" /}